<h1>Listing cards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Conversation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.content %></td>
        <td><%= card.conversation_id %></td>
        <td><%= link_to 'Show', [@conversation, card] %></td>
        <td><%#= link_to 'Edit', edit_card_path(card) %></td>
        <td><%#= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', [:new, @conversation, :card] %>
